# Gradle
.gradle/
build/

# IntelliJ
*.iml
*.iws
*.ipr
.idea

# Eclipse
.settings/
.project
.classpath
bin/

# VS Code
.vs-code/

# Sublime
*.sublime-workspace

# Other
*~

# Clojure
.nrepl-port
*.edn

# Source Deps
/templates/clj-new

# Test Stuff
/templates-test
