# Gradle
.gradle/
build/

# Clojure
.nrepl-port

# IntelliJ
*.iml
*.iws
*.ipr
.idea

# Eclipse
.settings/
.project
.classpath
bin/

# VS Code
.vscode/

# Calva
.calva/
.clj-kondo/
.lsp/

# Java Profiling
*.jfr
*.hprof

# Other
\#*\#
.\#*
*~

# Clojure
.calva/
.clj-kondo/
.lsp/
.nrepl-port
*.edn

