# Gradle
.gradle/
build/

# IntelliJ
*.iml
*.iws
*.ipr
.idea

# Eclipse
.settings/
.project
.classpath
bin/

# VS Code
.vs-code/

# Sublime
*.sublime-workspace

# Other
*~

# Java Profiling
*.jfr
*.hprof

# Clojure
.clj-kondo/
.lsp/
.nrepl-port
*.edn
